@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --base-white: hsl(0, 0%, 95%);
    --base-black: hsl(0, 0%, 10%);

    --primary-bg-color: #4f32ff;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--base-white, white);
    color: var(--base-black, black);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "header"
        "topnav"
        "main"
        "footer";
}

header {
    grid-area: header;
    text-align: center;
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--base-black, black);
    font-size: 2rem;
}

#topnav {
    grid-area: topnav;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 2em;
    border-top: 2px solid var(--base-black, black);
    font-size: 1.2rem;
}

.hide {
    display: none;
}

// Custom IDs

#day-night-img-container {
    border: 2px solid black;
    display: inline-block;
    width: 50%;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        padding-top: 50%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: rotate(0deg);
    }
}

#weather-main {
    --weather-main-border-radius-padding: 1rem;
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    //background-color: white;
    border-radius: var(--weather-main-border-radius-padding, 1rem);
    padding: var(--weather-main-border-radius-padding, 1rem);
    border: 1px solid #ccc;
    //box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);

    .weather-card-img-container {

        #weather-icon {
            background-color: white;
            border-radius: 25%;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            margin-right: 6px;
        }
    }

    #temp-container {
        display: grid;
        grid-template-rows: 1fr auto;
        justify-items: center;
        align-items: center;

        #main-temp {
            font-size: 5rem;
        }
    
        #hi-low-temp-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            gap: 1rem;
        }
    }
}

#name {
    font-size: 3rem;
}

#weather-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.weather-card-container {
    --padding-and-radius: 1rem;
    border-radius: var(--padding-and-radius);
    width: 25%;
    min-width: 17rem;
    max-width: 25rem;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .weather-card-content {
        padding: var(--padding-and-radius);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

.weather-card {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    width: 25vw;
    max-width: 25rem;
    height: 25vw;
    display: grid;
    justify-items: center;

    .weather-card-img-container {
        border: 1px solid black;
    }
}

#weather-search-form {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    #weather-search-form-inputs {

    }

    label {
        span {
            display: inline-block;
        }

        input, select {
            height: 2.5em;
            padding: 0.5em;
            margin: 0;
            border: none;
        }
    }
}

.weather-card-img-container {
    flex: 1;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    img {
        height: 100%;
    }
}

#wind-deg-img {
    img {
        transform: rotate(-90deg);
        transition: transform ease-in-out 500ms;
    }
}

// Media Queries

